
{% macro projectForm(key, project, folderId, isTemplate) %}
    {% import "_includes/forms" as forms %}
    {% set id = key matches '/new/' ? key : project.id %}
    {% set project = project | default({}) %}
    {% set isTemplate = isTemplate | default(false) %}

    <div id="project-{{ id }}" class="subform shadow-box" data-id="{{ id }}">

        <div class="subform-controls">
            <button class="btn js-subform-up">&uarr;</button>
            <button class="btn js-subform-down">&darr;</button>
            <button class="btn js-subform-delete red">Delete</button>
        </div>

        <div class="subform-fields">

            {{ forms.textField({
                type: 'text',
                label: 'Project URL',
                required: true,
                id: 'url-' ~ id,
                name: 'projects[' ~ id ~ '][url]',
                value: project.url ?? '',
                errors: project.getErrors('url') ?? [],
            }) }}

            {{ forms.elementSelectField({
                label: 'Screenshot',
                id: 'projects-' ~ id ~ '-screenshots',
                name: 'projects[' ~ id ~ '][screenshots]',
                required: true,
                elementType: 'craft\\elements\\Asset',
                criteria: {kind: 'image'},
                limit: 0,
                sources: ['folder:' ~ folderId],
                elements: project.screenshots ?? [],
                errors: project.getErrors('screenshots') ?? [],
            }) }}

            {{ forms.lightswitchField({
                label: 'Private',
                id: 'private-' ~ id,
                name: 'projects[' ~ id ~ '][private]',
                on: project.private ?? false,
            }) }}

        </div>

        {% if isTemplate %}
            __script__
                Craft.initUiElements(document.getElementById('project-{{ id }}'));

                new Craft.AssetSelectInput({
                    id: 'projects-{{ id }}-screenshots',
                    name: 'projects[{{ id }}][screenshots]',
                    elementType: 'craft\\elements\\Asset',
                    sources: ['folder:{{ folderId }}'],
                    criteria: {kind: 'image'},
                    viewMode: 'list',
                    modalStorageKey: 'partnerScreenshot.{{ id }}'
                });
            __/script__
        {% endif %}
    </div>
{% endmacro %}

<div class="field">
    <div class="heading">
        <label>Projects</label>
    </div>
    <div class="subforms-wrap">
        {# Template for adding new projects dynamically #}
        {% import _self as self %}
        <script class="subform-template" type="text/html">
            {{ self.projectForm('__new__', null, partnerScreenshotFolderId, true) }}
        </script>

        <div class="subforms">
            {% for key, project in partner.projects | default([]) %}
                {{ self.projectForm(key, project, partnerScreenshotFolderId) }}
            {% endfor %}
        </div>

        <div>
            {% include "_includes/forms/errorList" with { errors: partner.getErrors('projects') ?? null } %}
            <button class="btn subform-add js-subform-add">Add a Project</button>
        </div>
    </div>
</div>
